<div class="category-tab">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
      <li><a href="#blazers" data-toggle="tab">Blazers</a></li>
      <li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
      <li><a href="#kids" data-toggle="tab">Kids</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="tshirt">
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="{{'data:image/jpg;base64, small-image will fit'}}" alt="" />
              <h2>R0.00</h2>
              <p>under construction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="blazers">
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="{{'data:image/jpg;base64, small-image will fit'}}" alt="" />
              <h2>R0.00</h2>
              <p>under construction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="sunglass">
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="{{'data:image/jpg;base64, small-image will fit'}}" alt="" />
              <h2>R0.00</h2>
              <p>under construction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="kids">
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="{{'data:image/jpg;base64, small-image will fit'}}" alt="" />
              <h2>R0.00</h2>
              <p>under construction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>