.form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: inherit;
}

.form-control:focus,
.form-control:hover {
  box-shadow: inherit;
  border-color: #fdb45e;
}
